mixin post(parameters)
    .card
        .card-image
            img(src=parameters.image alt=parameters.title)
        .card-content
            h2.card-title(style="margin-top: 0px;") #{parameters.title}
            p #{parameters.excerpt}
        .card-action
            a(href=parameters.url) lire plus
